// Hero Side

.hero-side__container {
  display: flex;
  justify-content: space-between;
}
.hero-side__left-box {
  padding: 154px 118px 135px 162px;
  background-color: $bg-accent-color;
}

.hero-side__heading {
  max-width: 433px;
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 36px;
}
.hero-side__text {
  font-size: 20px;
  line-height: 1.2;
  max-width: 422px;
  margin-bottom: 52px;
}

.hero-side__button {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $white-color;
  background-color: $accent-color;
  //   padding: 23px 24px 15px 25px;
}
.hero-side__img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Feature Split
.feature-split__container {
  display: flex;
  justify-content: space-between;
}

.feature-split__right-box {
  padding: 164px 166px 104px 104px;
  background-color: $bg-accent-color;
}
.feature-split__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feature-split__heading {
  font-size: 32px;
  line-height: 1.2;

  margin-bottom: 23px;
}
.feature-split__text {
  font-size: 20px;
  line-height: 1.2;
  text-align: justify;
  max-width: 441px;

  margin-bottom: 35px;
}

.feature-split__button {
  font-size: 18px;
  line-height: 1.2;
  color: $accent-color;
  border: 1px solid $accent-color;
  background-color: $bg-accent-color;

  text-transform: uppercase;
}

// Post Tall

.post-tall__section {
  padding-top: 96px;
  padding-bottom: 137px;
}

.post-tall__container {
  padding-left: 135px;
  padding-right: 135px;
}

.post-tall__heading {
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 23px;
}

.post-tall__text {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 64px;
}

.post-tall__list {
  display: flex;
  flex-direction: row;
}

.post-tall__list .post-tall__item + .post-tall__item {
  margin-left: 30px;
}
.post-tall__item:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.post-tall__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.post-tall__thumb {
  background-color: $add-bg-color;
  padding: 24px;
}

.post-tall__title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 74px;
}
.post-tall__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: $main-text-color;
}

// CTA Section

.cta-section__container {
  display: flex;
  align-items: center;
  padding-top: 81px;
  padding-bottom: 69px;
  padding-left: 235px;
  padding-right: 235px;
  background-color: $accent-color;
}

.cta-section__button-find-gift-now {
  margin-left: 239px;
  font-size: 18px;
  line-height: 1.2;

  text-transform: uppercase;

  color: $white-color;
  background-color: $add-text-color;
  border-radius: 10px;
}

.cta-section__button-how-it-works {
  margin-left: 16px;
  font-size: 18px;
  line-height: 1.2;

  text-transform: uppercase;

  color: $main-text-color;
  background-color: $accent-color;
  border-radius: 10px;
  border: 1px solid $main-text-color;
}

.post-blog-top__section {
  padding-top: 88px;
  padding-bottom: 80px;
}

.post-blog-top__container {
  padding-left: 135px;
  padding-right: 135px;
}

.post-blog-top__heading {
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 23px;
}

.post-blog-top__text {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 71px;
}
.post-blog-top__mainpost {
  display: flex;
  margin-bottom: 40px;
}
.post-blog-top__info {
  padding: 63px 0 49px 78px;
  width: 770px;
  background-color: $add-text-color;
}

.main-post__author {
  font-size: 14px;
  line-height: 1.2;

  color: $white-color;

  margin-bottom: 27px;
}

.main-post__title {
  max-width: 492px;
  font-size: 48px;
  line-height: 1.2;

  color: $white-color;

  margin-bottom: 60px;
}
.main-post__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  color: $white-color;
}

.post-blog-top__list {
  display: flex;
}

.post-blog-top__item {
  padding: 48px 48px 50px 48px;
  &:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
}

.post-blog-top__list .post-blog-top__item + .post-blog-top__item {
  margin-left: 30px;
}

.post-blog-top__title {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 16px;
  max-width: 474px;
}

.post-blog-top__description {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 16px;
  max-width: 474px;
}
.post-blog-top__link {
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: $main-text-color;
}
