/*  
Цвет основого текста #000000
Дополнительный цвет #231F20
акцент #F7941E
фон акцент #F1F1F2
белый #FFFFFF
вторичный фон #FAFAFA
*/

$main-text-color: #000000;
$add-text-color: #231f20;
$accent-color: #f7941e;
$bg-accent-color: #f1f1f2;
$add-bg-color: #fafafa;
$white-color: #ffffff;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 500ms;

body {
  font-family: "Roboto", sans-serif;

  background-color: $white-color;
  color: $main-text-color;
  font-size: 18px;
  line-height: 1.2;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
/* Button*/
button {
  border: transparent;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
img {
  display: blok;
  max-width: 100%;
  height: auto;
}

.section-zero {
  outline: 1px solid green;
}

.container-zero {
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  outline: 1px solid red;
}

.section {
  outline: 1px solid green;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  outline: 1px solid red;
}
